.newuser{
    flex: 4;
}


.newusercontainer{
    display: flex;
    margin: 20px;
}

.userLeft{
    flex: 1;
}

.userRight{
    flex: 2;
}

.userRight > form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
}

.inputForm {
    margin-bottom: 50px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
    font-size: 16px;
}

.inputForm:focus {
    outline: none;
}

.nameContainer{
    display: flex;
    margin-bottom: 30px;
}

.inputFormInDiv{
border: none;
border-bottom: 1px solid gray;
margin-left: 5px;
padding: 20px 0;
width: 50%;
font-size: 16px;
}
.inputFormInDiv:focus{
    outline: none;
}



.submitBtn {
    border: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    
}

